.homeheadercontainer {
    background-image: url('./foodimage.jpg');
    height: 400px;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}

/* .headmaintag {} */

.headmaintag span {
    font-size: 90px;
    color: white;
    font-weight: bold;
}
.headmaindisc {
    font-size: 20px;
    font-weight: bold;
}